<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <%-include('../partials/header')%>
        <!-- Courses -->
        <section class="bg-[#9dccffc5] w-full py-10 px-4">
            <div class="max-w-7xl mx-auto">
                <div class="flex justify-between py-12">
                    <h1 class=" text-3xl font-bold text-gray-800 ">Welcome back, ready for your next lesson?</h1>
                    <div class=""><span class="text-gray-600 underline font-semibold cursor-pointer">View hisotry</span>
                    </div>
                </div>
                <!--Courses cards  -->
                <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4 ">
                    <!-- card-1 -->
                    <div class="w-full p-3 bg-white rounded-2xl shadow-lg ">
                        <!-- image -->
                        <div class="rounded-2xl overflow-hidden">

                            <img class="w-full h-full"
                                src="https://media.istockphoto.com/id/1212776097/photo/portrait-of-contented-male-hispanic-teenager.jpg?s=612x612&w=0&k=20&c=qmbkIrIIvmsB2mZB6zmDyoIfZCv_JsWs058bLHcMRwU="
                                alt="img">
                        </div>

                        <div class="py-2 ">
                            <p class="text-2xl text-gray-700 font-semibold">AWS Certified Solutions Architect</p>
                            <div class=" flex gap-4 items-center ">
                                <div class="w-10 h-10 rounded-full mt-2 bg-gray-600 overflow-hidden ">
                                    <img class="w-full h-full"
                                        src="https://media.istockphoto.com/id/1212776097/photo/portrait-of-contented-male-hispanic-teenager.jpg?s=612x612&w=0&k=20&c=qmbkIrIIvmsB2mZB6zmDyoIfZCv_JsWs058bLHcMRwU="
                                        alt="img">

                                </div>
                                <p class="text-gray-500 font-medium">Ravi Gahire</p>
                            </div>
                            <!-- Progress bar -->

                            <div class="relative mt-4 bg-gray-300 w-full h-2 rounded-2xl overflow-hidden">
                                <div class="absolute top-0 h-2 bg-cyan-500 rounded-2xl w-1/2"></div>
                            </div>

                            <div class="w-full flex justify-end mt-2">
                                <p class="text-sm font-medium text-gray-500 ">Lesson 5 of 7</p>
                            </div>


                        </div>


                    </div>

                    <!-- card-1 -->
                    <div class="w-full p-3 bg-white rounded-2xl shadow-lg ">
                        <!-- image -->
                        <div class="rounded-2xl overflow-hidden">

                            <img class="w-full h-full"
                                src="https://media.istockphoto.com/id/1212776097/photo/portrait-of-contented-male-hispanic-teenager.jpg?s=612x612&w=0&k=20&c=qmbkIrIIvmsB2mZB6zmDyoIfZCv_JsWs058bLHcMRwU="
                                alt="img">
                        </div>

                        <div class="py-2 ">
                            <p class="text-2xl text-gray-700 font-semibold">AWS Certified Solutions Architect</p>
                            <div class=" flex gap-4 items-center ">
                                <div class="w-10 h-10 rounded-full mt-2 bg-gray-600 overflow-hidden ">
                                    <img class="w-full h-full"
                                        src="https://media.istockphoto.com/id/1212776097/photo/portrait-of-contented-male-hispanic-teenager.jpg?s=612x612&w=0&k=20&c=qmbkIrIIvmsB2mZB6zmDyoIfZCv_JsWs058bLHcMRwU="
                                        alt="img">

                                </div>
                                <p class="text-gray-500 font-medium">Ravi Gahire</p>
                            </div>
                            <!-- Progress bar -->

                            <div class="relative mt-4 bg-gray-300 w-full h-2 rounded-2xl overflow-hidden">
                                <div class="absolute top-0 h-2 bg-cyan-500 rounded-2xl w-1/2"></div>
                            </div>

                            <div class="w-full flex justify-end mt-2">
                                <p class="text-sm font-medium text-gray-500 ">Lesson 5 of 7</p>
                            </div>


                        </div>


                    </div>

                    <!-- card-1 -->
                    <div class="w-full p-3 bg-white rounded-2xl shadow-lg ">
                        <!-- image -->
                        <div class=" rounded-2xl overflow-hidden">

                            <img class="w-full h-full"
                                src="https://media.istockphoto.com/id/1212776097/photo/portrait-of-contented-male-hispanic-teenager.jpg?s=612x612&w=0&k=20&c=qmbkIrIIvmsB2mZB6zmDyoIfZCv_JsWs058bLHcMRwU="
                                alt="img">
                        </div>

                        <div class="py-2 ">
                            <p class="text-2xl text-gray-700 font-semibold">AWS Certified Solutions Architect</p>
                            <div class=" flex gap-4 items-center ">
                                <div class="w-10 h-10 rounded-full mt-2 bg-gray-600 overflow-hidden ">
                                    <img class="w-full h-full"
                                        src="https://media.istockphoto.com/id/1212776097/photo/portrait-of-contented-male-hispanic-teenager.jpg?s=612x612&w=0&k=20&c=qmbkIrIIvmsB2mZB6zmDyoIfZCv_JsWs058bLHcMRwU="
                                        alt="img">

                                </div>
                                <p class="text-gray-500 font-medium">Ravi Gahire</p>
                            </div>
                            <!-- Progress bar -->

                            <div class="relative mt-4 bg-gray-300 w-full h-2 rounded-2xl overflow-hidden">
                                <div class="absolute top-0 h-2 bg-cyan-500 rounded-2xl w-1/2"></div>
                            </div>

                            <div class="w-full flex justify-end mt-2">
                                <p class="text-sm font-medium text-gray-500 ">Lesson 5 of 7</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%-include('./courseCategory.ejs')%>
            <%-include('./recommend.ejs')%>
                <%-include('./choices.ejs')%>
                    <%-include('./studentFavorite.ejs')%>
                        <%-include('../partials/footer.ejs')%>

</body>

</html>